<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869495656637-ff9jtf6co9uv75395pd7o136jc7bnboh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869495656637-ff9jtf6co9uv75395pd7o136jc7bnboh</string>
	<key>API_KEY</key>
	<string>AIzaSyChWkAQkVNQbKQIU8NHcSV2FR-UXCCNCT0</string>
	<key>GCM_SENDER_ID</key>
	<string>869495656637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>my-chat-775d9</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-775d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869495656637:ios:c05f50aff08d78c6aea7d4</string>
</dict>
</plist>